* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Old Standard TT';
}

header {
    background-color: black;
}

.container {
    padding: 0 15px;
    max-width: 1440px;
    margin: 0 auto;

}


a {
    color: #ACA592;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.header_left {
    padding: 25px 0 27px;
    width: 720px;
    display: flex;
    justify-content: space-between;
}

.nav_items__atelier>a {
    list-style-type: none;
    font-weight: 400;
    font-size: 22px;
    color: #FFAE2B;
}

.nav_items {
    padding-top: 8px;
    list-style-type: none;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
}

.header_right {
    padding: 14px 0 14px;
}

.header_right_button {
    height: 52px;
    width: 147px;
    font-family: 'Old Standard TT';
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFAE2B;
    box-sizing: border-box;
    border: 1px solid #FFAE2B;
    background-color: #181511;
    cursor: pointer;
}

.hero {
    max-width: 100%;
    height: 850px;
    background-image: url(../images/hero_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}